Package: cloud-manager
Version: %VERSION%
Section: utils
Architecture: amd64
Priority: optional
Maintainer: Zeki Ahmet Bayar <zekiahmetbayar1@gmail.com>
Description: example go-fiber application template for aciklab apps
