Package: cloud-manager-server
Version: %VERSION%
Section: utils
Architecture: amd64
Priority: optional
Maintainer: Onur Kepenek <onurkepnk@gmail.com>
Description: Cloud Manager Server
Depends: postgresql-15 | postgresql-14 | postgresql-13 | postgresql